<% provide :title, t(".signup") %>
<div class="ui page grid">
  <div class="eight wide column centered">
    <h2 class="ui center aligned teal header"><%= t ".signup" %></h2>
    <%= render "form", user: @user, button_text: t(".signup") %>
    <div class="ui message">
      <%= t ".already_have_account" %> <%= link_to t(".login"), "#" %>
    </div>
  </div>
</div>
