<h1 class="header datetime"><%= Time.now.to_date %></h1>
<div class="ui icon message">
  <i class="empty heart icon"></i>
  <div class="content">
    <div class="header"><%= t ".welcome_admin" %></div>
    <p><%= t ".keep_up_the_good_work" %></p>
  </div>
</div>
