@import "semantic-ui";

.lead {
  text-align: center;
}
.information .button {
  margin: 40px auto 20px auto;
  display: block;
  width: 200px;
  border-radius: 20px;
}

.user_avatar {
  max-height: 200px;
}

.ui.segment .custom_grid {
  margin: 0;
}

.ui.segment {
  margin-top: 0;
  margin-bottom: 0;
}

.price {
  margin-bottom: 0;
}

.ui.grid .cart_headline {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.column .quantity_section {
  margin-left: 54px;
}

.ui.dropdown.qty_select {
  min-width: 10px;
}

.shipping-fee-section {
  .free {
    display: none;
  }

  &.free-shipping {
    .free {
      display: block;
    }

    .paid {
      display: none;
    }
  }
}
