@import "semantic-ui";

.lead {
  text-align: center;
}
.information .button {
  margin: 40px auto 20px auto;
  display: block;
  width: 200px;
  border-radius: 20px;
}

.user_avatar {
  max-height: 200px;
}

.ui.segment .custom_grid {
  margin: 0;
}

.ui.segment {
  margin-top: 0;
  margin-bottom: 0;
}

.price {
  margin-bottom: 0;
}

.ui.grid .cart_headline {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.column .quantity_section {
  margin-left: 54px;
}

.ui.dropdown.qty_select {
  min-width: 10px;
}

.shipping-fee-section {
  .free {
    display: none;
  }

  &.free-shipping {
    .free {
      display: block;
    }

    .paid {
      display: none;
    }
  }
}

.slick-slide {
  margin-left: 20px;
  margin-right: 20px;
}

i.angle.left {
  float: left;
  position: relative;
  top: 85px;
  right: 10px;
}

i.angle.right {
  float: right;
  position: relative;
  bottom: 226px;
  left: 33px;
}

.footer {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  background-color: #232f3e;
  color: #c0c1c2;
  .header {
    color: #fff;
  }
  .copyright {
    p {
      text-align: center;
    }
  }
}

.ui.grid.footer {
  margin-top: 30px;
}
